In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [5]:
df = pd.read_csv('/content/Healthcare Providers.csv')

In [7]:
print("First 10 rows of the dataset:")
df.head(10)

First 10 rows of the dataset:

,index,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,8774979,1891106191,UPADHYAYULA,SATYASREE,NaN,M.D.,F,I,1402 S GRAND BLVD,FDT 14TH FLOOR,...,99223,"Initial hospital inpatient care, typically 70 ...",N,27,24,27,200.58777778,305.21111111,157.26222222,160.90888889
1,3354385,1346202256,JONES,WENDY,P,M.D.,F,I,2950 VILLAGE DR,NaN,...,G0202,"Screening mammography, bilateral (2-view study...",N,175,175,175,123.73,548.8,118.83,135.31525714
2,3001884,1306820956,DUROCHER,RICHARD,W,DPM,M,I,20 WASHINGTON AVE,STE 212,...,99348,"Established patient home visit, typically 25 m...",N,32,13,32,90.65,155,64.4396875,60.5959375
3,7594822,1770523540,FULLARD,JASPER,NaN,MD,M,I,5746 N BROADWAY ST,NaN,...,81002,"Urinalysis, manual test",N,20,18,20,3.5,5,3.43,3.43
4,746159,1073627758,PERROTTI,ANTHONY,E,DO,M,I,875 MILITARY TRL,SUITE 200,...,96372,Injection beneath the skin or into muscle for ...,N,33,24,31,26.52,40,19.539393939,19.057575758
5,3443985,1346571551,PUGH,JOHN,R,DPT,M,I,504 ALBEMARLE SQ,NaN,...,97016,Application of blood vessel compression or dec...,N,192,36,192,13.550989583,63.1125,9.6764583333,10.506927083
6,2137027,1215943535,BRUMITT,TOM,B,DO,M,I,70 DOCTORS PARK,NaN,...,20610,Aspiration and/or injection of large joint or ...,N,21,19,21,45.971904762,164.57142857,36.036190476,37.77952381
7,6169160,1629160551,GALBREATH,RONALD,G,M.D.,M,I,12522 E. LAMBERT ROAD,SUITE D,...,G0008,Administration of influenza virus vaccine,N,52,50,52,29.33,50,28.74,25.32
8,5086226,1518929124,BOONE,RALPH,M,D.O.,M,I,1215 DUNN AVE,NaN,...,80061,"Blood test, lipids (cholesterol and triglyceri...",N,73,68,73,15.510410959,76,15.197945205,15.197945205
9,3900718,1396781134,METWEST INC,NaN,NaN,NaN,NaN,O,695 S BROADWAY,NaN,...,84392,Urine sulfate (acid) level,N,19,16,19,6.51,29.65,6.38,6.38

In [9]:
rows, columns = df.shape
print(f"The dataset contains {rows} rows and {columns} columns.")

The dataset contains 100000 rows and 27 columns.

In [10]:
# View the data types of columns in the dataset
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                                                    Non-Null Count   Dtype
---  ------                                                    --------------   -----
 0   index                                                     100000 non-null  int64
 1   National Provider Identifier                              100000 non-null  int64
 2   Last Name/Organization Name of the Provider               100000 non-null  object
 3   First Name of the Provider                                95745 non-null   object
 4   Middle Initial of the Provider                            70669 non-null   object
 5   Credentials of the Provider                               92791 non-null   object
 6   Gender of the Provider                                    95746 non-null   object
 7   Entity Type of the Provider                               100000 non-null  object
 8   Street Address 1 of the Provider                          100000 non-null  object
 9   Street Address 2 of the Provider                          40637 non-null   object
 10  City of the Provider                                      100000 non-null  object
 11  Zip Code of the Provider                                  100000 non-null  float64
 12  State Code of the Provider                                100000 non-null  object
 13  Country Code of the Provider                              100000 non-null  object
 14  Provider Type                                             100000 non-null  object
 15  Medicare Participation Indicator                          100000 non-null  object
 16  Place of Service                                          100000 non-null  object
 17  HCPCS Code                                                100000 non-null  object
 18  HCPCS Description                                         100000 non-null  object
 19  HCPCS Drug Indicator                                      100000 non-null  object
 20  Number of Services                                        100000 non-null  object
 21  Number of Medicare Beneficiaries                          100000 non-null  object
 22  Number of Distinct Medicare Beneficiary/Per Day Services  100000 non-null  object
 23  Average Medicare Allowed Amount                           100000 non-null  object
 24  Average Submitted Charge Amount                           100000 non-null  object
 25  Average Medicare Payment Amount                           100000 non-null  object
 26  Average Medicare Standardized Amount                      100000 non-null  object
dtypes: float64(1), int64(2), object(24)
memory usage: 20.6+ MB
None

Checking the missing values

In [11]:
# Count missing values in each column
missing_values = df.isnull().sum()
print(missing_values)

index                                                           0
National Provider Identifier                                    0
Last Name/Organization Name of the Provider                     0
First Name of the Provider                                   4255
Middle Initial of the Provider                              29331
Credentials of the Provider                                  7209
Gender of the Provider                                       4254
Entity Type of the Provider                                     0
Street Address 1 of the Provider                                0
Street Address 2 of the Provider                            59363
City of the Provider                                            0
Zip Code of the Provider                                        0
State Code of the Provider                                      0
Country Code of the Provider                                    0
Provider Type                                                   0
Medicare Participation Indicator                                0
Place of Service                                                0
HCPCS Code                                                      0
HCPCS Description                                               0
HCPCS Drug Indicator                                            0
Number of Services                                              0
Number of Medicare Beneficiaries                                0
Number of Distinct Medicare Beneficiary/Per Day Services        0
Average Medicare Allowed Amount                                 0
Average Submitted Charge Amount                                 0
Average Medicare Payment Amount                                 0
Average Medicare Standardized Amount                            0
dtype: int64

In [12]:
# Dropping the 'Street Address 2 of the Provider' column
df.drop(['Street Address 2 of the Provider'], axis=1, inplace=True)

Step 1: Inspecting Unique Values in Each Column

In [13]:
# Inspecting unique values in each column of the dataset
for column in df.columns:
    # Display the column name and its unique values
    print(f"Column: {column}")
    print(f"Unique Values: {df[column].unique()}")
    print("-" * 50)  # Separator for readability

Column: index
Unique Values: [8774979 3354385 3001884 ... 8927965 8854571 3547535]
--------------------------------------------------
Column: National Provider Identifier
Unique Values: [1891106191 1346202256 1306820956 ... 1215091327 1891941183 1356772156]
--------------------------------------------------
Column: Last Name/Organization Name of the Provider
Unique Values: ['UPADHYAYULA' 'JONES' 'DUROCHER' ... 'PAPES' 'GONZALEZ-LAMOS' 'RAMEZANI']
--------------------------------------------------
Column: First Name of the Provider
Unique Values: ['SATYASREE' 'WENDY' 'RICHARD' ... 'ILIE' 'RAFAELA' 'ELIIAN']
--------------------------------------------------
Column: Middle Initial of the Provider
Unique Values: [nan 'P' 'W' 'E' 'R' 'B' 'G' 'M' 'S' 'J' 'K' 'X' 'A' 'H' 'V' 'D' 'N' 'L'
 'C' 'T' 'F' 'I' 'O' 'U' 'Y' 'Z' 'Q' '(' '.' '-']
--------------------------------------------------
Column: Credentials of the Provider
Unique Values: ['M.D.' 'DPM' 'MD' ... 'DNP FNP-BC' 'MRCP, MD' 'PT,DPTATC']
--------------------------------------------------
Column: Gender of the Provider
Unique Values: ['F' 'M' nan]
--------------------------------------------------
Column: Entity Type of the Provider
Unique Values: ['I' 'O']
--------------------------------------------------
Column: Street Address 1 of the Provider
Unique Values: ['1402 S GRAND BLVD' '2950 VILLAGE DR' '20 WASHINGTON AVE' ...
 '324 E BALTIMORE ST' '645 NW 4TH ST' '444 MIDDLE NECK RD APT 1H']
--------------------------------------------------
Column: City of the Provider
Unique Values: ['SAINT LOUIS' 'FAYETTEVILLE' 'NORTH HAVEN' ... 'SALIDA' 'PLATTSBURG'
 'HOOPER BAY']
--------------------------------------------------
Column: Zip Code of the Provider
Unique Values: [6.31041004e+08 2.83043815e+08 6.47323430e+07 ... 6.04811236e+08
 9.77561502e+08 1.10230000e+04]
--------------------------------------------------
Column: State Code of the Provider
Unique Values: ['MO' 'NC' 'CT' 'FL' 'VA' 'CA' 'CO' 'PA' 'AZ' 'KY' 'DC' 'WA' 'TX' 'NJ'
 'MD' 'LA' 'OH' 'NY' 'GU' 'IL' 'OK' 'SC' 'MA' 'GA' 'IN' 'ME' 'MT' 'WI'
 'AL' 'OR' 'NH' 'KS' 'MI' 'ID' 'MS' 'MN' 'TN' 'IA' 'NE' 'AK' 'ZZ' 'VT'
 'NV' 'AR' 'WV' 'HI' 'RI' 'SD' 'PR' 'UT' 'NM' 'ND' 'DE' 'WY' 'VI' 'AE'
 'AP' 'AA']
--------------------------------------------------
Column: Country Code of the Provider
Unique Values: ['US' 'JP' 'DE' 'TR']
--------------------------------------------------
Column: Provider Type
Unique Values: ['Internal Medicine' 'Obstetrics & Gynecology' 'Podiatry'
 'Physical Therapist in Private Practice' 'Diagnostic Radiology'
 'Family Practice' 'Clinical Laboratory' 'General Surgery'
 'Pain Management' 'Physician Assistant' 'Cardiology' 'Anesthesiology'
 'Gastroenterology' 'Psychiatry' 'Nurse Practitioner' 'General Practice'
 'Certified Registered Nurse Anesthetist (CRNA)'
 'Mass Immunizer Roster Biller' 'Critical Care (Intensivists)'
 'Audiologist' 'Allergy/ Immunology' 'Clinical Cardiac Electrophysiology'
 'Pulmonary Disease' 'Neurology' 'Orthopedic Surgery' 'Infectious Disease'
 'Medical Oncology' 'Geriatric Medicine' 'Chiropractic'
 'Emergency Medicine' 'Psychologist, Clinical' 'Interventional Cardiology'
 'Dermatology' 'Ambulatory Surgical Center' 'Ophthalmology'
 'Hematology-Oncology' 'Urology' 'Optometry' 'Vascular Surgery'
 'Pathology' 'Thoracic Surgery' 'Nephrology'
 'Physical Medicine and Rehabilitation' 'Neurosurgery'
 'Ambulance Service Provider' 'Centralized Flu' 'Otolaryngology'
 'Rheumatology' 'Cardiac Surgery'
 'Independent Diagnostic Testing Facility (IDTF)' 'Hospitalist'
 'Occupational Therapist in Private Practice' 'Radiation Oncology'
 'Plastic and Reconstructive Surgery' 'Portable X-Ray Supplier'
 'Endocrinology' 'Oral Surgery (Dentist only)'
 'Interventional Pain Management' 'Hand Surgery' 'Nuclear Medicine'
 'Hospice and Palliative Care' 'Maxillofacial Surgery' 'Hematology'
 'Pediatric Medicine' 'Licensed Clinical Social Worker'
 'Colorectal Surgery (Proctology)' 'Sleep Medicine'
 'Interventional Radiology' 'Anesthesiology Assistant'
 'Certified Clinical Nurse Specialist' 'All Other Suppliers'
 'Gynecological Oncology' 'Sports Medicine' 'Surgical Oncology'
 'Registered Dietitian or Nutrition Professional'
 'Speech Language Pathologist' 'Addiction Medicine'
 'Osteopathic Manipulative Medicine' 'Undefined Physician type'
 'Public Health or Welfare Agency' 'Clinic or Group Practice'
 'Preventive Medicine' 'Certified Nurse Midwife' 'Geriatric Psychiatry'
 'Neuropsychiatry' 'Radiation Therapy Center' 'Pharmacy'
 'Peripheral Vascular Disease'
 'Advanced Heart Failure and Transplant Cardiology' 'Mammography Center']
--------------------------------------------------
Column: Medicare Participation Indicator
Unique Values: ['Y' 'N']
--------------------------------------------------
Column: Place of Service
Unique Values: ['F' 'O']
--------------------------------------------------
Column: HCPCS Code
Unique Values: ['99223' 'G0202' '99348' ... '43247' '33530' '52001']
--------------------------------------------------
Column: HCPCS Description
Unique Values: ['Initial hospital inpatient care, typically 70 minutes per day'
 'Screening mammography, bilateral (2-view study of each breast), including computer-aided detection (cad) when performed'
 'Established patient home visit, typically 25 minutes' ...
 'Removal of foreign bodies of esophagus, stomach, and/or upper small bowel using an endoscope'
 'Reoperation of heart artery bypass or valve procedure more than 1 month after original operation'
 'Irrigation and removal of multiple blood clots from bladder and bladder canal (urethra) using an endoscope']
--------------------------------------------------
Column: HCPCS Drug Indicator
Unique Values: ['N' 'Y']
--------------------------------------------------
Column: Number of Services
Unique Values: ['27' '175' '32' ... '43,000' '1,815' '2,265']
--------------------------------------------------
Column: Number of Medicare Beneficiaries
Unique Values: ['24' '175' '13' ... '1,097' '923' '2,995']
--------------------------------------------------
Column: Number of Distinct Medicare Beneficiary/Per Day Services
Unique Values: ['27' '175' '32' ... '1,397' '1,815' '2,265']
--------------------------------------------------
Column: Average Medicare Allowed Amount
Unique Values: ['200.58777778' '123.73' '90.65' ... '0.655' '85.3725' '38.601052632']
--------------------------------------------------
Column: Average Submitted Charge Amount
Unique Values: ['305.21111111' '548.8' '155' ... '144.05147059' '109.54545455'
 '46.867572156']
--------------------------------------------------
Column: Average Medicare Payment Amount
Unique Values: ['157.26222222' '118.83' '64.4396875' ... '60.7255' '30.006176471'
 '29.736876061']
--------------------------------------------------
Column: Average Medicare Standardized Amount
Unique Values: ['160.90888889' '135.31525714' '60.5959375' ... '62.2485' '37.040220588'
 '25.912139219']
--------------------------------------------------

Step 2: Checking Value Counts in Each Column

In [14]:
# Getting the frequency distribution of values in each column
for column in df.columns:
    # Display the column name and the frequency of each value
    print(f"Column: {column}")
    print("Value Counts:")
    print(df[column].value_counts())
    print("-" * 50)  # Separator for readability

Column: index
Value Counts:
index
8774979    1
6046068    1
2759205    1
275238     1
8229708    1
          ..
4484394    1
7130197    1
6969208    1
7692844    1
3547535    1
Name: count, Length: 100000, dtype: int64
--------------------------------------------------
Column: National Provider Identifier
Value Counts:
National Provider Identifier
1538144910    12
1932166386    12
1538105366     9
1609812445     9
1295726032     8
              ..
1831288992     1
1346535077     1
1962874883     1
1376557017     1
1356772156     1
Name: count, Length: 89508, dtype: int64
--------------------------------------------------
Column: Last Name/Organization Name of the Provider
Value Counts:
Last Name/Organization Name of the Provider
PATEL          557
SMITH          491
JOHNSON        372
WALGREEN CO    362
LEE            361
              ...
SHUE             1
STANDRIDGE       1
SIMCOE           1
KENNESON         1
RAMEZANI         1
Name: count, Length: 42820, dtype: int64
--------------------------------------------------
Column: First Name of the Provider
Value Counts:
First Name of the Provider
MICHAEL     2350
JOHN        2285
DAVID       2239
ROBERT      1872
JAMES       1647
            ...
PACIFICO       1
NANTHA         1
SAMUAL         1
DENAYE         1
ELIIAN         1
Name: count, Length: 13022, dtype: int64
--------------------------------------------------
Column: Middle Initial of the Provider
Value Counts:
Middle Initial of the Provider
A    8152
M    7212
J    6582
L    5275
S    4652
R    4399
D    4043
E    3879
C    3786
B    2738
K    2620
W    2566
P    2533
H    2266
T    2107
G    2062
F    1580
N    1417
V     839
I     667
Y     454
O     433
Z     148
U     126
Q      88
X      40
-       3
(       1
.       1
Name: count, dtype: int64
--------------------------------------------------
Column: Credentials of the Provider
Value Counts:
Credentials of the Provider
MD                    32874
M.D.                  32757
D.O.                   3533
DO                     2478
PA-C                   1859
                      ...
DPT MFS                   1
PT, CERT. MDT, NCS        1
MD FAAFP FACEP            1
PT, DPT, MS               1
PT,DPTATC                 1
Name: count, Length: 1854, dtype: int64
--------------------------------------------------
Column: Gender of the Provider
Value Counts:
Gender of the Provider
M    66641
F    29105
Name: count, dtype: int64
--------------------------------------------------
Column: Entity Type of the Provider
Value Counts:
Entity Type of the Provider
I    95746
O     4254
Name: count, dtype: int64
--------------------------------------------------
Column: Street Address 1 of the Provider
Value Counts:
Street Address 1 of the Provider
200 1ST ST SW                244
9500 EUCLID AVE              153
200 HAWKINS DR               104
5323 HARRY HINES BLVD        104
75 FRANCIS ST                102
                            ...
390 17TH ST NW                 1
1739 N OCEAN AVE STE A         1
24750 STUART PLACE RD          1
6490 S. MCCARRAN BLVD          1
444 MIDDLE NECK RD APT 1H      1
Name: count, Length: 51928, dtype: int64
--------------------------------------------------
Column: City of the Provider
Value Counts:
City of the Provider
NEW YORK          1061
HOUSTON            874
CHICAGO            759
PHILADELPHIA       658
BOSTON             634
                  ...
PASS CHRISTIAN       1
BLUFF CITY           1
HAWLEY               1
PEYTON               1
HOOPER BAY           1
Name: count, Length: 5846, dtype: int64
--------------------------------------------------
Column: Zip Code of the Provider
Value Counts:
Zip Code of the Provider
559050001.0    224
441950001.0    164
943052200.0    100
21156110.0      93
322241865.0     92
              ...
596020553.0      1
379206681.0      1
27671047.0       1
331801226.0      1
11023.0          1
Name: count, Length: 47827, dtype: int64
--------------------------------------------------
Column: State Code of the Provider
Value Counts:
State Code of the Provider
CA    7775
FL    7263
TX    6861
NY    6361
PA    4561
IL    4073
NC    3725
OH    3663
MI    3516
NJ    3333
GA    2858
VA    2792
MA    2791
TN    2673
IN    2203
MD    2076
WA    2020
MO    1997
AZ    1994
WI    1840
AL    1821
SC    1753
KY    1667
MN    1563
LA    1520
CO    1423
CT    1403
OK    1250
IA    1136
AR    1130
KS    1109
MS    1108
OR    1046
NE     787
NV     707
WV     644
UT     640
NH     547
ME     466
NM     421
ID     415
DE     378
RI     359
MT     345
SD     326
PR     284
DC     275
HI     249
VT     239
ND     231
WY     171
AK     165
VI      20
GU      15
ZZ       6
AP       3
AE       2
AA       1
Name: count, dtype: int64
--------------------------------------------------
Column: Country Code of the Provider
Value Counts:
Country Code of the Provider
US    99994
DE        3
JP        2
TR        1
Name: count, dtype: int64
--------------------------------------------------
Column: Provider Type
Value Counts:
Provider Type
Diagnostic Radiology                                12537
Internal Medicine                                   11366
Family Practice                                      9760
Nurse Practitioner                                   5713
Cardiology                                           4602
                                                    ...
Certified Nurse Midwife                                 7
Radiation Therapy Center                                3
Mammography Center                                      3
Pharmacy                                                1
Advanced Heart Failure and Transplant Cardiology        1
Name: count, Length: 90, dtype: int64
--------------------------------------------------
Column: Medicare Participation Indicator
Value Counts:
Medicare Participation Indicator
Y    99969
N       31
Name: count, dtype: int64
--------------------------------------------------
Column: Place of Service
Value Counts:
Place of Service
O    61616
F    38384
Name: count, dtype: int64
--------------------------------------------------
Column: HCPCS Code
Value Counts:
HCPCS Code
99213    4578
99214    4401
99232    1851
99203    1846
99204    1743
         ...
80159       1
J0780       1
25111       1
86682       1
52001       1
Name: count, Length: 2631, dtype: int64
--------------------------------------------------
Column: HCPCS Description
Value Counts:
HCPCS Description
Established patient office or other outpatient visit, typically 15 minutes                                    4578
Established patient office or other outpatient, visit typically 25 minutes                                    4401
Subsequent hospital inpatient care, typically 25 minutes per day                                              1851
New patient office or other outpatient visit, typically 30 minutes                                            1846
New patient office or other outpatient visit, typically 45 minutes                                            1743
                                                                                                              ...
Injection of vocal cords using an endoscope with operating microscope or telescope                               1
Closed treatment of broken great toe                                                                             1
White blood cell alkaline phosphatase (enzyme) measurement with cell count                                       1
Management of radiation therapy, simulation, intermediate                                                        1
Irrigation and removal of multiple blood clots from bladder and bladder canal (urethra) using an endoscope       1
Name: count, Length: 2455, dtype: int64
--------------------------------------------------
Column: HCPCS Drug Indicator
Value Counts:
HCPCS Drug Indicator
N    93802
Y     6198
Name: count, dtype: int64
--------------------------------------------------
Column: Number of Services
Value Counts:
Number of Services
13       3018
12       2967
11       2810
14       2789
15       2622
         ...
8,613       1
5,173       1
2,073       1
457.3       1
2,265       1
Name: count, Length: 2748, dtype: int64
--------------------------------------------------
Column: Number of Medicare Beneficiaries
Value Counts:
Number of Medicare Beneficiaries
11       4791
12       4272
13       3922
14       3523
15       3260
         ...
1,182       1
1,131       1
1,116       1
1,593       1
2,995       1
Name: count, Length: 1274, dtype: int64
--------------------------------------------------
Column: Number of Distinct Medicare Beneficiary/Per Day Services
Value Counts:
Number of Distinct Medicare Beneficiary/Per Day Services
12       3210
13       3171
11       3090
14       2912
15       2751
         ...
1,139       1
1,380       1
1,298       1
3,899       1
2,265       1
Name: count, Length: 1979, dtype: int64
--------------------------------------------------
Column: Average Medicare Allowed Amount
Value Counts:
Average Medicare Allowed Amount
3               1017
3.08             441
13.32            417
3.5              406
5.39             356
                ...
10.316414141       1
522.33142857       1
62.443461538       1
2.6002941176       1
38.601052632       1
Name: count, Length: 49629, dtype: int64
--------------------------------------------------
Column: Average Submitted Charge Amount
Value Counts:
Average Submitted Charge Amount
150             970
50              967
30              868
100             859
25              842
               ...
110.77697842      1
190.15702479      1
166.67            1
174.93670886      1
46.867572156      1
Name: count, Length: 38088, dtype: int64
--------------------------------------------------
Column: Average Medicare Payment Amount
Value Counts:
Average Medicare Payment Amount
2.94            623
3.02            335
3.43            320
13.05           292
18.65           290
               ...
274.4547619       1
36.57382716       1
68.400816327      1
969.67923077      1
29.736876061      1
Name: count, Length: 83367, dtype: int64
--------------------------------------------------
Column: Average Medicare Standardized Amount
Value Counts:
Average Medicare Standardized Amount
25.32           1630
2.94             996
115.36           501
13.05            453
3.02             453
                ...
74.965194175       1
289.4196           1
61.359392625       1
22.228974359       1
25.912139219       1
Name: count, Length: 76237, dtype: int64
--------------------------------------------------

Handling Missing Values in Categorical Columns

In [15]:
# Identifying categorical columns for handling missing values
# These columns represent textual or identifier data rather than numeric or continuous values.
# Filling missing values with 'Unknown' makes sense as it retains the dataset's structure without introducing noise.
categorical_columns = [
    'First Name of the Provider',      # Categorical: Represents names, can be unknown if not provided
    'Middle Initial of the Provider', # Categorical: A single character or empty, 'Unknown' is an acceptable placeholder
    'Credentials of the Provider'     # Categorical: Professional qualifications, can be unknown
]

# Filling missing values with 'Unknown' for identified categorical columns
for column in categorical_columns:
    df[column] = df[column].fillna('Unknown')

# Filling missing values in 'Gender of the Provider' with the mode
# Gender is a limited categorical column (e.g., 'M', 'F', or NaN); replacing missing values with the most frequent value (mode) ensures logical consistency.
gender_mode = df['Gender of the Provider'].mode()[0]  # Calculate mode
df['Gender of the Provider'] = df['Gender of the Provider'].fillna(gender_mode)
print(f"Filled missing values in 'Gender of the Provider' with mode: {gender_mode}")

# Validate that all missing values are handled
missing_value = df.isnull().sum()
print("Missing values after filling:\n", missing_value)

Filled missing values in 'Gender of the Provider' with mode: M
Missing values after filling:
 index                                                       0
National Provider Identifier                                0
Last Name/Organization Name of the Provider                 0
First Name of the Provider                                  0
Middle Initial of the Provider                              0
Credentials of the Provider                                 0
Gender of the Provider                                      0
Entity Type of the Provider                                 0
Street Address 1 of the Provider                            0
City of the Provider                                        0
Zip Code of the Provider                                    0
State Code of the Provider                                  0
Country Code of the Provider                                0
Provider Type                                               0
Medicare Participation Indicator                            0
Place of Service                                            0
HCPCS Code                                                  0
HCPCS Description                                           0
HCPCS Drug Indicator                                        0
Number of Services                                          0
Number of Medicare Beneficiaries                            0
Number of Distinct Medicare Beneficiary/Per Day Services    0
Average Medicare Allowed Amount                             0
Average Submitted Charge Amount                             0
Average Medicare Payment Amount                             0
Average Medicare Standardized Amount                        0
dtype: int64

Encoding for Categorical Columns

In [16]:
# Importing LabelEncoder from sklearn
from sklearn.preprocessing import LabelEncoder

# Initialize the LabelEncoder
le = LabelEncoder()

# Encoding 'Gender of the Provider' into binary values (0 and 1)
df['Gender of the Provider'] = le.fit_transform(df['Gender of the Provider'])
print("Encoded 'Gender of the Provider' values:", df['Gender of the Provider'].unique())

# Encoding 'Medicare Participation Indicator' into binary values (0 and 1)
df['Medicare Participation Indicator'] = le.fit_transform(df['Medicare Participation Indicator'])
print("Encoded 'Medicare Participation Indicator' values:", df['Medicare Participation Indicator'].unique())

# Encoding 'Place of Service' into binary values (0 and 1)
df['Place of Service'] = le.fit_transform(df['Place of Service'])
print("Encoded 'Place of Service' values:", df['Place of Service'].unique())

# Encoding 'HCPCS Drug Indicator' into binary values (0 and 1)
df['HCPCS Drug Indicator'] = le.fit_transform(df['HCPCS Drug Indicator'])
print("Encoded 'HCPCS Drug Indicator' values:", df['HCPCS Drug Indicator'].unique())

# Encoding 'Entity Type of the Provider' into binary values (0 and 1)
df['Entity Type of the Provider'] = le.fit_transform(df['Entity Type of the Provider'])
print("Encoded 'Entity Type of the Provider' values:", df['Entity Type of the Provider'].unique())

Encoded 'Gender of the Provider' values: [0 1]
Encoded 'Medicare Participation Indicator' values: [1 0]
Encoded 'Place of Service' values: [0 1]
Encoded 'HCPCS Drug Indicator' values: [0 1]
Encoded 'Entity Type of the Provider' values: [0 1]