In [2]:
import os
os.getcwd()

'C:\\Users\\katta'

In [3]:
import os
os.path.abspath("Healthcare Providers.csv")

'C:\\Users\\katta\\Healthcare Providers.csv'

In [2]:
import pandas as pd

# Load CSV file
df = pd.read_csv('Healthcare Providers.csv')

# View first few rows
df.head()

,index,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,8774979,1891106191,UPADHYAYULA,SATYASREE,NaN,M.D.,F,I,1402 S GRAND BLVD,FDT 14TH FLOOR,...,99223,"Initial hospital inpatient care, typically 70 ...",N,27,24,27,200.58777778,305.21111111,157.26222222,160.90888889
1,3354385,1346202256,JONES,WENDY,P,M.D.,F,I,2950 VILLAGE DR,NaN,...,G0202,"Screening mammography, bilateral (2-view study...",N,175,175,175,123.73,548.8,118.83,135.31525714
2,3001884,1306820956,DUROCHER,RICHARD,W,DPM,M,I,20 WASHINGTON AVE,STE 212,...,99348,"Established patient home visit, typically 25 m...",N,32,13,32,90.65,155,64.4396875,60.5959375
3,7594822,1770523540,FULLARD,JASPER,NaN,MD,M,I,5746 N BROADWAY ST,NaN,...,81002,"Urinalysis, manual test",N,20,18,20,3.5,5,3.43,3.43
4,746159,1073627758,PERROTTI,ANTHONY,E,DO,M,I,875 MILITARY TRL,SUITE 200,...,96372,Injection beneath the skin or into muscle for ...,N,33,24,31,26.52,40,19.539393939,19.057575758

In [12]:
# df.info()
df.columns

Index(['index', 'National Provider Identifier',
       'Last Name/Organization Name of the Provider',
       'First Name of the Provider', 'Middle Initial of the Provider',
       'Credentials of the Provider', 'Gender of the Provider',
       'Entity Type of the Provider', 'Street Address 1 of the Provider',
       'Street Address 2 of the Provider', 'City of the Provider',
       'Zip Code of the Provider', 'State Code of the Provider',
       'Country Code of the Provider', 'Provider Type',
       'Medicare Participation Indicator', 'Place of Service', 'HCPCS Code',
       'HCPCS Description', 'HCPCS Drug Indicator', 'Number of Services',
       'Number of Medicare Beneficiaries',
       'Number of Distinct Medicare Beneficiary/Per Day Services',
       'Average Medicare Allowed Amount', 'Average Submitted Charge Amount',
       'Average Medicare Payment Amount',
       'Average Medicare Standardized Amount'],
      dtype='object')

In [15]:
pd.read_csv("Healthcare Providers.csv",nrows=0)

Empty DataFrame
Columns: [index, National Provider Identifier, Last Name/Organization Name of the Provider, First Name of the Provider, Middle Initial of the Provider, Credentials of the Provider, Gender of the Provider, Entity Type of the Provider, Street Address 1 of the Provider, Street Address 2 of the Provider, City of the Provider, Zip Code of the Provider, State Code of the Provider, Country Code of the Provider, Provider Type, Medicare Participation Indicator, Place of Service, HCPCS Code, HCPCS Description, HCPCS Drug Indicator, Number of Services, Number of Medicare Beneficiaries, Number of Distinct Medicare Beneficiary/Per Day Services, Average Medicare Allowed Amount, Average Submitted Charge Amount, Average Medicare Payment Amount, Average Medicare Standardized Amount]
Index: []

[0 rows x 27 columns]

In [17]:
df.shape

(100000, 27)

In [21]:
a=pd.DataFrame([1,2,3,4,5])
a

   0
0  1
1  2
2  3
3  4
4  5

In [23]:
df.describe()

              index  National Provider Identifier  Zip Code of the Provider
count  1.000000e+05                  1.000000e+05              1.000000e+05
mean   4.907646e+06                  1.498227e+09              4.163820e+08
std    2.839633e+06                  2.874125e+08              3.082566e+08
min    2.090000e+02                  1.003001e+09              6.010000e+02
25%    2.458791e+06                  1.245669e+09              1.426300e+08
50%    4.901266e+06                  1.497847e+09              3.633025e+08
75%    7.349450e+06                  1.740374e+09              6.819881e+08
max    9.847440e+06                  1.993000e+09              9.990166e+08

In [24]:
df.describe

<bound method NDFrame.describe of          index  National Provider Identifier  \
0      8774979                    1891106191
1      3354385                    1346202256
2      3001884                    1306820956
3      7594822                    1770523540
4       746159                    1073627758
...        ...                           ...
99995  3837311                    1386938868
99996  2079360                    1215091327
99997  8927965                    1902868185
99998  8854571                    1891941183
99999  3547535                    1356772156

      Last Name/Organization Name of the Provider First Name of the Provider  \
0                                     UPADHYAYULA                  SATYASREE
1                                           JONES                      WENDY
2                                        DUROCHER                    RICHARD
3                                         FULLARD                     JASPER
4                                        PERROTTI                    ANTHONY
...                                           ...                        ...
99995                                       PAPES                       JOAN
99996                                      HAYNER                   MARGARET
99997                                    VALENCIA                       DANA
99998                              GONZALEZ-LAMOS                    RAFAELA
99999                                    RAMEZANI                     ELIIAN

      Middle Initial of the Provider Credentials of the Provider  \
0                                NaN                        M.D.
1                                  P                        M.D.
2                                  W                         DPM
3                                NaN                          MD
4                                  E                          DO
...                              ...                         ...
99995                            NaN                          PT
99996                              S                        ARNP
99997                            NaN                        M.D.
99998                            NaN                         NaN
99999                            NaN                         NaN

      Gender of the Provider Entity Type of the Provider  \
0                          F                           I
1                          F                           I
2                          M                           I
3                          M                           I
4                          M                           I
...                      ...                         ...
99995                      F                           I
99996                      F                           I
99997                      M                           I
99998                      F                           I
99999                      F                           I

      Street Address 1 of the Provider Street Address 2 of the Provider  ...  \
0                    1402 S GRAND BLVD                   FDT 14TH FLOOR  ...
1                      2950 VILLAGE DR                              NaN  ...
2                    20 WASHINGTON AVE                          STE 212  ...
3                   5746 N BROADWAY ST                              NaN  ...
4                     875 MILITARY TRL                        SUITE 200  ...
...                                ...                              ...  ...
99995               324 E BALTIMORE ST                              NaN  ...
99996                    645 NW 4TH ST                              NaN  ...
99997                 3009 N BALLAS RD                       SUITE 202B  ...
99998              2365 BOSTON POST RD                        SUITE 201  ...
99999        444 MIDDLE NECK RD APT 1H                              NaN  ...

      HCPCS Code                                  HCPCS Description  \
0          99223  Initial hospital inpatient care, typically 70 ...
1          G0202  Screening mammography, bilateral (2-view study...
2          99348  Established patient home visit, typically 25 m...
3          81002                            Urinalysis, manual test
4          96372  Injection beneath the skin or into muscle for ...
...          ...                                                ...
99995      97162  Evaluation of physical therapy, typically 30 m...
99996      99213  Established patient office or other outpatient...
99997      93320  Doppler ultrasound study of heart blood flow, ...
99998      G0008          Administration of influenza virus vaccine
99999      97112  Therapeutic procedure to re-educate brain-to-n...

      HCPCS Drug Indicator Number of Services  \
0                        N                 27
1                        N                175
2                        N                 32
3                        N                 20
4                        N                 33
...                    ...                ...
99995                    N                 20
99996                    N                136
99997                    N                 11
99998                    N                 12
99999                    N                589

      Number of Medicare Beneficiaries  \
0                                   24
1                                  175
2                                   13
3                                   18
4                                   24
...                                ...
99995                               20
99996                              107
99997                               11
99998                               12
99999                               76

      Number of Distinct Medicare Beneficiary/Per Day Services  \
0                                                     27
1                                                    175
2                                                     32
3                                                     20
4                                                     31
...                                                  ...
99995                                                 20
99996                                                136
99997                                                 11
99998                                                 12
99999                                                587

      Average Medicare Allowed Amount Average Submitted Charge Amount  \
0                        200.58777778                    305.21111111
1                              123.73                           548.8
2                               90.65                             155
3                                 3.5                               5
4                               26.52                              40
...                               ...                             ...
99995                         85.3725                             214
99996                           61.27                    144.05147059
99997                           17.98                    109.54545455
99998                           30.54                              65
99999                    38.601052632                    46.867572156

      Average Medicare Payment Amount Average Medicare Standardized Amount
0                        157.26222222                         160.90888889
1                              118.83                         135.31525714
2                          64.4396875                           60.5959375
3                                3.43                                 3.43
4                        19.539393939                         19.057575758
...                               ...                                  ...
99995                         60.7255                              62.2485
99996                    30.006176471                         37.040220588
99997                           14.09                                14.62
99998                           29.93                                25.32
99999                    29.736876061                         25.912139219

[100000 rows x 27 columns]>

In [25]:
df

,index,National Provider Identifier,Last Name/Organization Name of the Provider,First Name of the Provider,Middle Initial of the Provider,Credentials of the Provider,Gender of the Provider,Entity Type of the Provider,Street Address 1 of the Provider,Street Address 2 of the Provider,...,HCPCS Code,HCPCS Description,HCPCS Drug Indicator,Number of Services,Number of Medicare Beneficiaries,Number of Distinct Medicare Beneficiary/Per Day Services,Average Medicare Allowed Amount,Average Submitted Charge Amount,Average Medicare Payment Amount,Average Medicare Standardized Amount
0,8774979,1891106191,UPADHYAYULA,SATYASREE,NaN,M.D.,F,I,1402 S GRAND BLVD,FDT 14TH FLOOR,...,99223,"Initial hospital inpatient care, typically 70 ...",N,27,24,27,200.58777778,305.21111111,157.26222222,160.90888889
1,3354385,1346202256,JONES,WENDY,P,M.D.,F,I,2950 VILLAGE DR,NaN,...,G0202,"Screening mammography, bilateral (2-view study...",N,175,175,175,123.73,548.8,118.83,135.31525714
2,3001884,1306820956,DUROCHER,RICHARD,W,DPM,M,I,20 WASHINGTON AVE,STE 212,...,99348,"Established patient home visit, typically 25 m...",N,32,13,32,90.65,155,64.4396875,60.5959375
3,7594822,1770523540,FULLARD,JASPER,NaN,MD,M,I,5746 N BROADWAY ST,NaN,...,81002,"Urinalysis, manual test",N,20,18,20,3.5,5,3.43,3.43
4,746159,1073627758,PERROTTI,ANTHONY,E,DO,M,I,875 MILITARY TRL,SUITE 200,...,96372,Injection beneath the skin or into muscle for ...,N,33,24,31,26.52,40,19.539393939,19.057575758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,3837311,1386938868,PAPES,JOAN,NaN,PT,F,I,324 E BALTIMORE ST,NaN,...,97162,"Evaluation of physical therapy, typically 30 m...",N,20,20,20,85.3725,214,60.7255,62.2485
99996,2079360,1215091327,HAYNER,MARGARET,S,ARNP,F,I,645 NW 4TH ST,NaN,...,99213,Established patient office or other outpatient...,N,136,107,136,61.27,144.05147059,30.006176471,37.040220588
99997,8927965,1902868185,VALENCIA,DANA,NaN,M.D.,M,I,3009 N BALLAS RD,SUITE 202B,...,93320,"Doppler ultrasound study of heart blood flow, ...",N,11,11,11,17.98,109.54545455,14.09,14.62
99998,8854571,1891941183,GONZALEZ-LAMOS,RAFAELA,NaN,NaN,F,I,2365 BOSTON POST RD,SUITE 201,...,G0008,Administration of influenza virus vaccine,N,12,12,12,30.54,65,29.93,25.32
99999,3547535,1356772156,RAMEZANI,ELIIAN,NaN,NaN,F,I,444 MIDDLE NECK RD APT 1H,NaN,...,97112,Therapeutic procedure to re-educate brain-to-n...,N,589,76,587,38.601052632,46.867572156,29.736876061,25.912139219

In [29]:
df["index"]

0        8774979
1        3354385
2        3001884
3        7594822
4         746159
          ...
99995    3837311
99996    2079360
99997    8927965
99998    8854571
99999    3547535
Name: index, Length: 100000, dtype: int64

In [39]:
df["index"].describe()

count    1.000000e+05
mean     4.907646e+06
std      2.839633e+06
min      2.090000e+02
25%      2.458791e+06
50%      4.901266e+06
75%      7.349450e+06
max      9.847440e+06
Name: index, dtype: float64

In [48]:
df["index"].mean()

np.float64(4907645.74603)

In [49]:
df["index"].median()

np.float64(4901266.0)

In [51]:
df["index"].mode()

0            209
1            390
2            435
3            446
4            493
          ...
99995    9847188
99996    9847250
99997    9847379
99998    9847437
99999    9847440
Name: index, Length: 100000, dtype: int64

In [53]:
df['First Name of the Provider'].value_counts()

First Name of the Provider
MICHAEL      2350
JOHN         2285
DAVID        2239
ROBERT       1872
JAMES        1647
             ...
JASPAL          1
ROSELLA         1
DEBENDRA        1
HENDRIKUS       1
HOMEYAR         1
Name: count, Length: 13022, dtype: int64

In [56]:
df['First Name of the Provider'].unique()

array(['SATYASREE', 'WENDY', 'RICHARD', ..., 'ILIE', 'RAFAELA', 'ELIIAN'],
      dtype=object)

In [57]:
df['First Name of the Provider'].loc[1:30].unique()

array(['WENDY', 'RICHARD', 'JASPER', 'ANTHONY', 'JOHN', 'TOM', 'RONALD',
       'RALPH', nan, 'LAUREN', 'ERIC', 'MUKESH', 'BABAK', 'GAURAV', 'AMY',
       'MARIA', 'AARON', 'GREGORY', 'EDWARD', 'MICHAEL', 'SILVIA', 'AMIT',
       'KELLY', 'WALTER', 'DAVID', 'STEPHEN', 'ROBERT', 'PHILIP', 'FEBIN'],
      dtype=object)

In [3]:
df['First Name of the Provider'].iloc[1:30].unique()

array(['WENDY', 'RICHARD', 'JASPER', 'ANTHONY', 'JOHN', 'TOM', 'RONALD',
       'RALPH', nan, 'LAUREN', 'ERIC', 'MUKESH', 'BABAK', 'GAURAV', 'AMY',
       'MARIA', 'AARON', 'GREGORY', 'EDWARD', 'MICHAEL', 'SILVIA', 'AMIT',
       'KELLY', 'WALTER', 'DAVID', 'STEPHEN', 'ROBERT', 'PHILIP'],
      dtype=object)