In [2]:
import pandas as pd

# Load the dataset
file_path = 'Dl_project/Healthcare Providers.csv'
dataset = pd.read_csv(file_path)

# Display 
dataset.head(), dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                                                    Non-Null Count   Dtype
---  ------                                                    --------------   -----
 0   index                                                     100000 non-null  int64
 1   National Provider Identifier                              100000 non-null  int64
 2   Last Name/Organization Name of the Provider               100000 non-null  object
 3   First Name of the Provider                                95745 non-null   object
 4   Middle Initial of the Provider                            70669 non-null   object
 5   Credentials of the Provider                               92791 non-null   object
 6   Gender of the Provider                                    95746 non-null   object
 7   Entity Type of the Provider                               100000 non-null  object
 8   Street Address 1 of the Provider                          100000 non-null  object
 9   Street Address 2 of the Provider                          40637 non-null   object
 10  City of the Provider                                      100000 non-null  object
 11  Zip Code of the Provider                                  100000 non-null  float64
 12  State Code of the Provider                                100000 non-null  object
 13  Country Code of the Provider                              100000 non-null  object
 14  Provider Type                                             100000 non-null  object
 15  Medicare Participation Indicator                          100000 non-null  object
 16  Place of Service                                          100000 non-null  object
 17  HCPCS Code                                                100000 non-null  object
 18  HCPCS Description                                         100000 non-null  object
 19  HCPCS Drug Indicator                                      100000 non-null  object
 20  Number of Services                                        100000 non-null  object
 21  Number of Medicare Beneficiaries                          100000 non-null  object
 22  Number of Distinct Medicare Beneficiary/Per Day Services  100000 non-null  object
 23  Average Medicare Allowed Amount                           100000 non-null  object
 24  Average Submitted Charge Amount                           100000 non-null  object
 25  Average Medicare Payment Amount                           100000 non-null  object
 26  Average Medicare Standardized Amount                      100000 non-null  object
dtypes: float64(1), int64(2), object(24)
memory usage: 20.6+ MB

(     index  National Provider Identifier  \
 0  8774979                    1891106191
 1  3354385                    1346202256
 2  3001884                    1306820956
 3  7594822                    1770523540
 4   746159                    1073627758

   Last Name/Organization Name of the Provider First Name of the Provider  \
 0                                 UPADHYAYULA                  SATYASREE
 1                                       JONES                      WENDY
 2                                    DUROCHER                    RICHARD
 3                                     FULLARD                     JASPER
 4                                    PERROTTI                    ANTHONY

   Middle Initial of the Provider Credentials of the Provider  \
 0                            NaN                        M.D.
 1                              P                        M.D.
 2                              W                         DPM
 3                            NaN                          MD
 4                              E                          DO

   Gender of the Provider Entity Type of the Provider  \
 0                      F                           I
 1                      F                           I
 2                      M                           I
 3                      M                           I
 4                      M                           I

   Street Address 1 of the Provider Street Address 2 of the Provider  ...  \
 0                1402 S GRAND BLVD                   FDT 14TH FLOOR  ...
 1                  2950 VILLAGE DR                              NaN  ...
 2                20 WASHINGTON AVE                          STE 212  ...
 3               5746 N BROADWAY ST                              NaN  ...
 4                 875 MILITARY TRL                        SUITE 200  ...

   HCPCS Code                                  HCPCS Description  \
 0      99223  Initial hospital inpatient care, typically 70 ...
 1      G0202  Screening mammography, bilateral (2-view study...
 2      99348  Established patient home visit, typically 25 m...
 3      81002                            Urinalysis, manual test
 4      96372  Injection beneath the skin or into muscle for ...

   HCPCS Drug Indicator Number of Services Number of Medicare Beneficiaries  \
 0                    N                 27                               24
 1                    N                175                              175
 2                    N                 32                               13
 3                    N                 20                               18
 4                    N                 33                               24

   Number of Distinct Medicare Beneficiary/Per Day Services  \
 0                                                 27
 1                                                175
 2                                                 32
 3                                                 20
 4                                                 31

   Average Medicare Allowed Amount Average Submitted Charge Amount  \
 0                    200.58777778                    305.21111111
 1                          123.73                           548.8
 2                           90.65                             155
 3                             3.5                               5
 4                           26.52                              40

   Average Medicare Payment Amount Average Medicare Standardized Amount
 0                    157.26222222                         160.90888889
 1                          118.83                         135.31525714
 2                      64.4396875                           60.5959375
 3                            3.43                                 3.43
 4                    19.539393939                         19.057575758

 [5 rows x 27 columns],
 None)

In [3]:
#Encoding

In [4]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
import numpy as np

# Sample data for encoding 

ordinal_column = 'Entity Type of the Provider'
nominal_column = 'Gender of the Provider'
frequency_column = 'City of the Provider'

In [7]:
# Ordinal Encoding
ordinal_data = dataset[[ordinal_column]].copy()
ordinal_encoder = OrdinalEncoder()
ordinal_data[ordinal_column + '_Encoded'] = ordinal_encoder.fit_transform(ordinal_data)

# Display results
ordinal_data.head()

  Entity Type of the Provider  Entity Type of the Provider_Encoded
0                           I                                  0.0
1                           I                                  0.0
2                           I                                  0.0
3                           I                                  0.0
4                           I                                  0.0

In [15]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

# Sample data
data = {'Category': ['Low', 'Medium', 'High', 'Medium', 'Low']}
df = pd.DataFrame(data)

# Define the categories
categories_order = [['Low', 'Medium', 'High']]

# Apply Ordinal Encoding
encoder = OrdinalEncoder(categories=categories_order)
df['Category_Encoded'] = encoder.fit_transform(df[['Category']])

print(df)

  Category  Category_Encoded
0      Low               0.0
1   Medium               1.0
2     High               2.0
3   Medium               1.0
4      Low               0.0

In [11]:
# Frequency Encoding
frequency_data = dataset[[frequency_column]].copy()
frequency_map = frequency_data[frequency_column].value_counts().to_dict()
frequency_data[frequency_column + '_Encoded'] = frequency_data[frequency_column].map(frequency_map)

# Display results
frequency_data.head()

  City of the Provider  City of the Provider_Encoded
0          SAINT LOUIS                           500
1         FAYETTEVILLE                           209
2          NORTH HAVEN                            10
3          KANSAS CITY                           317
4              JUPITER                            51